:root {
  --orange: #FF7602;
}

@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Medium.eot");
  src: url("../fonts/Montserrat-Medium.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Medium.woff2") format("woff2"), url("../fonts/Montserrat-Medium.woff") format("woff"), url("../fonts/Montserrat-Medium.ttf") format("truetype"), url("../fonts/Montserrat-Medium.svg#Montserrat-Medium") format("svg");
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Light.eot");
  src: url("../fonts/Montserrat-Light.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Light.woff2") format("woff2"), url("../fonts/Montserrat-Light.woff") format("woff"), url("../fonts/Montserrat-Light.ttf") format("truetype"), url("../fonts/Montserrat-Light.svg#Montserrat-Light") format("svg");
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Bold.eot");
  src: url("../fonts/Montserrat-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Bold.woff2") format("woff2"), url("../fonts/Montserrat-Bold.woff") format("woff"), url("../fonts/Montserrat-Bold.ttf") format("truetype"), url("../fonts/Montserrat-Bold.svg#Montserrat-Bold") format("svg");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-Regular.eot");
  src: url("../fonts/Montserrat-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-Regular.woff2") format("woff2"), url("../fonts/Montserrat-Regular.woff") format("woff"), url("../fonts/Montserrat-Regular.ttf") format("truetype"), url("../fonts/Montserrat-Regular.svg#Montserrat-Regular") format("svg");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Montserrat";
  src: url("../fonts/Montserrat-SemiBold.eot");
  src: url("../fonts/Montserrat-SemiBold.eot?#iefix") format("embedded-opentype"), url("../fonts/Montserrat-SemiBold.woff2") format("woff2"), url("../fonts/Montserrat-SemiBold.woff") format("woff"), url("../fonts/Montserrat-SemiBold.ttf") format("truetype"), url("../fonts/Montserrat-SemiBold.svg#Montserrat-SemiBold") format("svg");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

section, div {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  line-height: 1;
  overflow-x: hidden;
  position: relative;
  font-family: "Montserrat";
  color: #FFFFFF;
  background: #2D2D2D;
}

body.scroll {
  overflow-y: hidden;
}

ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

button {
  border: none;
  cursor: pointer;
}

input[type=number]::-webkit-inner-spin-button {
  -webkit-appearance: none;
}

input[type=number] {
  border: none;
  -moz-appearance: textfield;
}

input[type=number]:focus {
  outline: none;
}

input[type=tel] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=text] {
  border: none;
  background-image: none;
  background-color: transparent;
  -webkit-box-shadow: none;
  box-shadow: none;
}

input[type=tel]:focus {
  outline: none;
}

input[type=text]:focus {
  outline: none;
}

textarea:focus {
  outline: none;
}

textarea {
  border: none;
  overflow: auto;
  outline: none;
  -webkit-box-shadow: none;
  box-shadow: none;
  resize: none;
}

select {
  outline: none;
}

button {
  background-color: transparent;
  border: none;
  outline: none;
  padding: 0px;
}

button:focus {
  border: none;
  outline: none;
}

a {
  text-decoration: none;
}

a:hover {
  text-decoration: none;
}

div {
  -webkit-tap-highlight-color: transparent;
}

input {
  border: none;
}

input:focus {
  outline: none;
}

.container {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0px 20px;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

@media (min-width: 768px) {
  .container {
    padding: 0px 30px;
  }
}
@media (min-width: 1024px) {
  .container {
    padding: 0px 45px;
  }
}
@media (min-width: 1200px) {
  .container {
    padding: 0px;
    max-width: 1080px;
  }
}
p {
  font-size: 12px;
  font-weight: 400;
  font-weight: 400;
  line-height: 20px;
  color: #fff;
}

.dropdown {
  position: fixed;
  top: 0px;
  right: 0px;
  width: 100%;
  height: 100vh;
  padding-top: 120px;
  background-color: #1C1C1C;
  z-index: 4;
  -webkit-transform: translateX(-100%);
          transform: translateX(-100%);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.dropdown.active {
  -webkit-transform: translateX(0px);
          transform: translateX(0px);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.dropdown ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.dropdown ul li {
  margin-top: 20px;
}
.dropdown ul li a {
  font-size: 13px;
  line-height: 17px;
  padding-bottom: 25px;
  padding: 0px 5px 10px 5px;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: inline-block;
  position: relative;
  color: #fff;
  opacity: 0.6;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.dropdown ul li a::after {
  display: none;
  content: "";
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 2px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: #FF7602;
}
.dropdown ul li.active a {
  color: #fff;
  opacity: 1;
}
.dropdown ul li.active a::after {
  display: block;
}
.dropdown_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 30px;
}
.dropdown_list a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background-color: #FF7602;
  width: 20px;
  height: 20px;
  border-radius: 5px;
  margin-left: 20px;
}
.dropdown_list a:first-child {
  margin-left: 0px;
}

.fixed_nav {
  position: fixed;
  left: 0px;
  bottom: 0px;
  width: 100%;
  background-color: #1C1C1C;
  height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px 42px;
}
.fixed_nav a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.fixed_nav a svg {
  opacity: 0.6;
}
.fixed_nav a span {
  font-size: 10px;
  line-height: 14px;
  color: #fff;
  font-weight: 600;
  margin-top: 20px;
  opacity: 0.4;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.fixed_nav a.active svg {
  opacity: 1;
}
.fixed_nav a.active svg path {
  stroke: #FF7602;
}
.fixed_nav a.active span {
  opacity: 1;
}
@media (min-width: 1200px) {
  .fixed_nav {
    display: none;
  }
}

.header {
  position: fixed;
  left: 0px;
  top: 0px;
  background-color: #1C1C1C;
  height: 80px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  z-index: 5;
}
.header_block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.header_block_logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header_block_logo span {
  font-size: 10px;
  line-height: 20px;
  color: #fff;
  font-weight: 700;
  margin-left: 10px;
}
.header_block ul {
  display: none;
}
.header_block_list {
  display: none;
}
.header_block_burger {
  display: block;
  height: 18px;
  width: 24px;
  position: relative;
  z-index: 2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.header_block_burger span {
  display: block;
  height: 2px;
  width: 100%;
  border-radius: 26px;
  background: #fff;
}
.header_block_burger span:first-child {
  -webkit-transform-origin: 0% 0%;
          transform-origin: 0% 0%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header_block_burger span:nth-child(2) {
  -webkit-transition: -webkit-transform 0.15s ease-in-out;
  transition: -webkit-transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out;
  transition: transform 0.15s ease-in-out, -webkit-transform 0.15s ease-in-out;
}
.header_block_burger span:nth-child(3) {
  -webkit-transform-origin: 0% 100%;
          transform-origin: 0% 100%;
  -webkit-transition: -webkit-transform 0.3s ease-in-out;
  transition: -webkit-transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out;
  transition: transform 0.3s ease-in-out, -webkit-transform 0.3s ease-in-out;
}
.header_block_burger.active span:first-child {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.header_block_burger.active span:nth-child(2) {
  -webkit-transform: scaleY(0);
          transform: scaleY(0);
}
.header_block_burger.active span:nth-child(3) {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}
@media (min-width: 768px) {
  .header_block_logo span {
    font-size: 18px;
    font-weight: 500;
  }
  .header_block_logo span b {
    font-weight: 700;
  }
}
@media (min-width: 1200px) {
  .header_block ul {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .header_block ul li {
    margin-right: 40px;
  }
  .header_block ul li:last-child {
    margin-right: 0px;
  }
  .header_block ul li a {
    font-size: 13px;
    line-height: 17px;
    padding-bottom: 25px;
    padding: 0px 5px 25px 5px;
    position: relative;
    color: rgba(255, 255, 255, 0.6);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .header_block ul li a::after {
    content: "";
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 0%;
    height: 2px;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background-color: rgba(255, 255, 255, 0.6);
  }
  .header_block ul li a:hover {
    color: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .header_block ul li a:hover::after {
    width: 100%;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .header_block ul li.active a {
    color: #fff;
  }
  .header_block ul li.active a::after {
    background-color: #FF7602;
    width: 100%;
  }
  .header_block_burger {
    display: none;
  }
  .header_block_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
  .header_block_list a {
    -webkit-box-sizing: border-box;
            box-sizing: border-box;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    background-color: #707070;
    width: 20px;
    height: 20px;
    border-radius: 5px;
    margin-left: 20px;
  }
  .header_block_list a svg {
    opacity: 0.6;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .header_block_list a:hover {
    background-color: #FF7602;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .header_block_list a:hover svg {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
}

.accordion {
  padding: 100px 0px;
}
.accordion_title {
  border-radius: 20px;
  background-color: #1C1C1C;
  padding: 20px;
}
.accordion_title h2 {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  opacity: 0.5;
  font-weight: 500;
}
.accordion_title p {
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  font-weight: 400;
  margin-top: 18px;
}
.accordion_list_item {
  background-color: #1C1C1C;
  border-radius: 20px;
  margin-top: 20px;
}
.accordion_list_item_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  padding: 20px;
  cursor: pointer;
}
.accordion_list_item_head h3 {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  font-weight: 700;
}
.accordion_list_item_head img {
  margin-left: 20px;
  min-width: 24px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.accordion_list_item_body {
  padding: 0px 20px 20px 20px;
  display: none;
}
.accordion_list_item.active .accordion_list_item_head img {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (min-width: 1200px) {
  .accordion {
    padding: 120px 0px 160px 0px;
  }
  .accordion_title {
    padding: 40px;
  }
  .accordion_list_item_head {
    padding: 20px 40px;
  }
  .accordion_list_item_body {
    padding: 0px 40px 20px 40px;
  }
}

.contacts {
  background: url(../img/contacts/back.png);
  background-size: cover;
  background-position: 50%;
  padding: 120px 0px 100px 0px;
}
.contacts_block_text_top {
  background-color: #1C1C1C;
  border-radius: 20px;
  padding: 20px;
}
.contacts_block_text_top p {
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  font-weight: 400;
}
.contacts_block_text_info_item {
  background-color: #1C1C1C;
  border-radius: 20px;
  padding: 20px;
  margin-top: 20px;
}
.contacts_block_text_info_item h4 {
  font-size: 12px;
  line-height: 20px;
  color: #FF7F00;
  font-weight: 700;
}
.contacts_block_text_info_item_wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  margin-top: 20px;
}
.contacts_block_text_info_item_wrap p {
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  font-weight: 400;
  margin-right: 5px;
}
.contacts_block_text_info_item_wrap a {
  font-size: 12px;
  line-height: 20px;
  color: #FF7F00;
  font-weight: 400;
  text-decoration: underline;
}
.contacts_block_text_we {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  position: relative;
  margin-top: 20px;
}
.contacts_block_text_we_wrap {
  background-color: #1C1C1C;
  border-radius: 15px;
  padding: 20px;
}
.contacts_block_text_we_wrap:first-child {
  width: calc(60% - 10px);
}
.contacts_block_text_we_wrap:last-child {
  width: calc(40% - 10px);
}
.contacts_block_text_we_wrap a {
  font-size: 12px;
  line-height: 20px;
  color: #FF7F00;
  font-weight: 700;
  text-decoration: underline;
}
.contacts_block_text_down {
  background-color: #1C1C1C;
  border-radius: 15px;
  padding: 10px 20px;
  margin-top: 20px;
}
.contacts_block_text_down p {
  font-weight: 700;
}
.contacts_block_text_down a {
  color: #FF7F00;
}
.contacts_block_text_par {
  font-size: 10px;
  line-height: 20px;
  color: #fff;
  font-weight: 500;
  opacity: 0.5;
  margin-top: 15px;
}
.contacts_block_img {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 40px;
}
.contacts_block_img_wrap {
  width: 316px;
  position: relative;
}
.contacts_block_img_wrap img {
  max-width: 100%;
}
.contacts_block_img_wrap img.one {
  position: absolute;
  left: 0px;
  top: 50px;
}
.contacts a:hover {
  text-decoration: none;
}
@media (min-width: 768px) {
  .contacts_block_text_info {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts_block_text_info_item {
    width: calc(50% - 10px);
  }
  .contacts_block_text_we_wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .contacts_block_text_we_wrap:first-child {
    width: calc(50% - 10px);
  }
  .contacts_block_text_we_wrap:last-child {
    width: calc(50% - 10px);
  }
}
@media (min-width: 1200px) {
  .contacts_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .contacts_block_text {
    width: 450px;
  }
  .contacts_block_img {
    width: 404px;
  }
  .contacts_block_img img {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .contacts_block_img img.one {
    z-index: 1;
    top: 60px;
  }
  .contacts_block_img:hover img.one {
    -webkit-transform: translateY(-20px);
            transform: translateY(-20px);
  }
  .contacts_block_img:hover img.two {
    -webkit-transform: translateY(20px);
            transform: translateY(20px);
  }
}

.rules {
  padding: 100px 0px;
  background: url(../img/rules/back.png);
  background-size: cover;
  background-position: 50%;
}
.rules_title {
  border-radius: 20px;
  background-color: #1C1C1C;
  padding: 20px;
}
.rules_title h2 {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  opacity: 0.5;
  font-weight: 500;
}
.rules_title p {
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  font-weight: 500;
  margin-top: 18px;
}
.rules_wrap {
  margin-top: 20px;
  border-radius: 20px;
  background-color: #1C1C1C;
  padding: 1px 20px 20px 20px;
}
.rules_wrap h3 {
  font-size: 12px;
  line-height: 20px;
  color: #fff;
  font-weight: 700;
  margin: 20px 0px;
}
@media (min-width: 1200px) {
  .rules {
    padding: 120px 0px 160px 0px;
  }
  .rules_title {
    padding: 40px;
  }
  .rules_wrap {
    padding: 20px 40px 40px 40px;
  }
}

.review {
  padding: 100px 0px;
  background: url(../img/review/back.png);
  background-size: cover;
  background-position: 50%;
}
.review_title {
  border-radius: 20px;
  background-color: #1C1C1C;
  padding: 20px;
}
.review_title h2 {
  font-size: 18px;
  line-height: 22px;
  color: #fff;
  opacity: 0.5;
  font-weight: 500;
}
.review_title_wrap p {
  margin-top: 20px;
}
.review_title_wrap p b {
  font-weight: 700;
}
.review_title_down {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-top: 40px;
}
.review_title_down p {
  font-weight: 700;
}
.review_title_down p a {
  color: #FF7F00;
  text-decoration: underline;
}
.review_title_down p a:hover {
  text-decoration: none;
}
.review_title_down button {
  font-family: "Montserrat";
  width: 100%;
  background: rgba(136, 136, 136, 0.1);
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border-radius: 10px;
  height: 40px;
  text-align: center;
  font-size: 12px;
  line-height: 40px;
  color: rgba(255, 255, 255, 0.4);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  margin-top: 20px;
}
.review_title_down button:hover {
  background: #FF7F00;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  color: #fff;
}
.review_list_item {
  border-radius: 20px;
  background-color: #1C1C1C;
  padding: 20px;
  margin-top: 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.review_list_item_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.review_list_item_head p {
  font-size: 12px;
  line-height: 18px;
  color: #FF7F00;
  font-weight: 700;
}
.review_list_item_head span {
  font-size: 10px;
  line-height: 18px;
  color: #B9B9B9;
}
.review_list_item_body {
  margin-top: 28px;
}
.review_list_item:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: rgba(255, 127, 0, 0.3);
}
@media (min-width: 768px) {
  .review_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .review_list_item {
    width: calc(50% - 10px);
  }
}
@media (min-width: 1024px) {
  .review_title_down {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .review_title_down button {
    margin-top: 0px;
    width: 340px;
  }
  .review_list {
    -webkit-box-pack: start;
        -ms-flex-pack: start;
            justify-content: flex-start;
  }
  .review_list_item {
    width: calc(33.3333333333% - 20px);
    margin-right: 30px;
  }
  .review_list_item:nth-child(3n) {
    margin-right: 0px;
  }
}
@media (min-width: 1200px) {
  .review {
    padding: 120px 0px 160px 0px;
  }
  .review_title {
    padding: 40px;
  }
}

.footer {
  background-color: #1C1C1C;
  padding: 42px 0px;
  position: relative;
  border-top-left-radius: 10px;
  border-top-right-radius: 10px;
}
.footer_btn {
  position: absolute;
  top: -20px;
  left: 50%;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  background-color: #242424;
  width: 40px;
  height: 40px;
  border-radius: 10px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer_btn svg {
  opacity: 0.4;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer_btn:hover {
  background-color: var(--orange);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer_btn:hover svg {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer_block_left {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
}
.footer_block_left_wrap {
  width: calc(50% - 25px);
}
.footer_block_left_wrap_item {
  margin-top: 30px;
}
.footer_block_left_wrap_item p {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  color: #fff;
}
.footer_block_left_wrap_item span {
  font-size: 10px;
  line-height: 20px;
  font-weight: 400;
  color: #fff;
}
.footer_block_left_wrap_item a {
  font-size: 10px;
  line-height: 20px;
  font-weight: 700;
  color: var(--orange);
  text-decoration: underline;
}
.footer_block_left_wrap_item:first-child {
  margin-top: 0px;
}
.footer_block_left nav {
  display: none;
}
.footer_block_right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  position: relative;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin-top: 50px;
}
.footer_block_right nav {
  width: calc(50% - 25px);
}
.footer_block_right nav ul li {
  margin-top: 12px;
}
.footer_block_right nav ul li:first-child {
  margin-top: 0px;
}
.footer_block_right nav ul li a {
  font-size: 10px;
  line-height: 12px;
  color: #fff;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  opacity: 0.6;
}
.footer_block_right nav ul li a:hover {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer_block_right_social {
  width: calc(50% - 25px);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
}
.footer_block_right_social_img {
  margin-bottom: 26px;
}
.footer_block_right_social a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 24px;
}
.footer_block_right_social a span {
  font-size: 12px;
  line-height: 16px;
  color: #fff;
  opacity: 0.4;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer_block_right_social a svg {
  margin-left: 20px;
  opacity: 0.5;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer_block_right_social a:hover span {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer_block_right_social a:hover svg {
  opacity: 1;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer_block_right_social a:hover svg path {
  fill: #FF7602;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.footer_down {
  font-size: 10px;
  line-height: 14px;
  font-weight: 500;
  color: #fff;
  opacity: 0.6;
  margin-top: 60px;
}
@media (min-width: 768px) {
  .footer {
    padding: 52px 0px 42px 0px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
  }
  .footer_block {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .footer_block_left_wrap {
    width: auto;
    margin-right: 40px;
  }
  .footer_block_left_wrap_item a {
    text-decoration: none;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .footer_block_left_wrap_item a:hover {
    text-decoration: underline;
    color: #FF7602;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .footer_block_left nav {
    display: block;
  }
  .footer_block_left nav ul li {
    margin-top: 12px;
  }
  .footer_block_left nav ul li:first-child {
    margin-top: 0px;
  }
  .footer_block_left nav ul li a {
    font-size: 10px;
    line-height: 12px;
    color: #fff;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    opacity: 0.6;
  }
  .footer_block_left nav ul li a:hover {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .footer_block_right {
    margin-top: 0px;
  }
  .footer_block_right nav {
    display: none;
  }
  .footer_block_right_social {
    width: auto;
  }
  .footer_block_right_social a span {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .footer_block_right_social a:hover span {
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: translateX(-10px);
            transform: translateX(-10px);
  }
}
@media (min-width: 1024px) {
  .footer_block_left_wrap {
    margin-right: 70px;
  }
}
@media (min-width: 1200px) {
  .footer {
    padding: 78px 0px 45px 0px;
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;
  }
  .footer_block_left_wrap_item p {
    font-size: 12px;
  }
  .footer_block_left_wrap_item span {
    font-size: 12px;
  }
  .footer_block_left_wrap_item a {
    font-size: 12px;
  }
  .footer_block_left nav ul li a {
    font-size: 12px;
  }
  .footer_block_right_social a span {
    font-size: 14px;
  }
  .footer_down {
    font-size: 12px;
  }
}

.instruction {
  margin-top: 20px;
}
.instruction_wrap {
  background-color: #1C1C1C;
  border-radius: 20px;
}
.instruction_wrap_title {
  padding: 20px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  cursor: pointer;
}
.instruction_wrap_title_text {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 200px;
}
.instruction_wrap_title_text p {
  font-size: 12px;
  color: #fff;
  line-height: 15px;
  font-weight: 400;
  margin-left: 10px;
}
.instruction_wrap_title_text p b {
  color: #FF7F00;
  font-weight: 700;
}
.instruction_wrap_title_btn {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.instruction_wrap_body {
  padding: 0px 20px 20px 20px;
  display: none;
}
.instruction_wrap_body p {
  margin-top: 15px;
}
.instruction_wrap_body p:first-child {
  margin-top: 0px;
}
.instruction_wrap.active .instruction_wrap_title_btn {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
@media (min-width: 768px) {
  .instruction {
    margin-top: 30px;
  }
  .instruction_wrap_title_text {
    width: auto;
  }
}
@media (min-width: 1024px) {
  .instruction_wrap_title {
    padding: 20px 40px;
  }
  .instruction_wrap_body {
    padding: 0px 40px 20px 40px;
  }
}

@media (min-width: 1024px) {
  .home_feature .contacts_block_img {
    margin: 0 auto;
    margin-top: 80px;
  }
}

.advantage {
  margin-top: 40px;
}
.advantage .slick-slide {
  width: 340px;
  margin: 0px 10px;
}
.advantage .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.advantage .slick-slide {
  height: inherit !important;
}
.advantage .slick-slide > div {
  height: 100%;
}
.advantage_item {
  background-color: #1C1C1C;
  padding: 40px 40px 20px 40px;
  height: 100%;
  border-radius: 20px;
}
.advantage_item_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.advantage_item_title_img {
  width: 20px;
  height: 20px;
  background-size: cover;
}
.advantage_item_title h4 {
  font-size: 20px;
  line-height: 25px;
  font-weight: 700;
  color: #fff;
  margin-left: 20px;
}
.advantage_item_body {
  margin-top: 30px;
}
@media (min-width: 1024px) {
  .advantage {
    margin-top: 80px;
  }
}

.home_review {
  background-color: rgba(28, 28, 28, 0.3);
  padding: 30px 0px;
  margin-top: 40px;
}
.home_review_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.home_review_title h2 {
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}
.home_review_title p {
  text-align: center;
  margin-top: 40px;
}
.home_review_slider {
  margin-top: 40px;
}
.home_review_slider .slick-slide {
  width: 340px;
  margin: 0px 10px;
}
.home_review_slider .slick-track {
  display: -webkit-box !important;
  display: -ms-flexbox !important;
  display: flex !important;
}
.home_review_slider .slick-slide {
  height: inherit !important;
}
.home_review_slider .slick-slide > div {
  height: 100%;
}
.home_review_slider_item {
  border-radius: 20px;
  background-color: #1C1C1C;
  padding: 20px;
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
}
.home_review_slider_item_head {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.home_review_slider_item_head p {
  font-size: 12px;
  line-height: 18px;
  color: #FF7F00;
  font-weight: 700;
}
.home_review_slider_item_head span {
  font-size: 10px;
  line-height: 18px;
  color: #B9B9B9;
}
.home_review_slider_item_body {
  margin-top: 28px;
}
.home_review_slider_item:hover {
  -webkit-transition: all 0.2s linear;
  transition: all 0.2s linear;
  background-color: rgba(255, 127, 0, 0.3);
}
@media (min-width: 1024px) {
  .home_review {
    margin-top: 100px;
    padding: 100px 0px;
  }
  .home_review_slider {
    margin-top: 80px;
  }
  .home_review_slider .slick-slide {
    width: 340px;
    margin: 0px 20px;
  }
}

.main {
  padding-top: 100px;
}
.main .slick-prev {
  display: none !important;
}
.main .slick-next {
  display: none !important;
}
.main .slick-dots {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 50px;
}
.main .slick-dots li {
  width: 20px;
  height: 2px;
  border-radius: 2px;
  background-color: #1C1C1C;
  margin-right: 20px;
  position: relative;
}
.main .slick-dots li button {
  position: absolute;
  left: 0px;
  top: 0px;
  width: 100%;
  height: 100%;
  opacity: 0;
}
.main .slick-dots li.slick-active {
  background-color: #fff;
}
.main_mob_text h1 {
  font-size: 20px;
  line-height: 20px;
  color: #fff;
  font-weight: 400;
}
.main_mob_text h1 b {
  font-weight: 700;
}
.main_mob_text p {
  margin-top: 20px;
}
.main_mob_wrap {
  padding: 20px;
  border-radius: 20px;
  margin-top: 40px;
  background-image: -webkit-gradient(linear, left top, right top, from(#FF6600), to(#BF4C00));
  background-image: linear-gradient(to right, #FF6600, #BF4C00);
}
.main_mob_wrap_slider_item span {
  font-size: 45px;
  line-height: 55px;
  color: #fff;
  font-weight: 700;
}
.main_mob_wrap_slider_item p {
  font-size: 15px;
  line-height: 20px;
  color: #fff;
  font-weight: 500;
  margin-top: 10px;
}
.main_mob_wrap_slider_item a {
  color: #fff;
  font-size: 12px;
  line-height: 16px;
  font-weight: 500;
  margin-top: 30px;
  display: inline-block;
}
.main_mob_list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: calc(100% + 40px);
  -webkit-transform: translateX(-20px);
          transform: translateX(-20px);
  -webkit-box-align: stretch;
      -ms-flex-align: stretch;
          align-items: stretch;
  overflow-x: scroll;
  margin-top: 20px;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.main_mob_list::-webkit-scrollbar {
  display: none;
}
.main_mob_list_item {
  width: 230px;
  min-width: 230px;
  margin: 0px 10px;
  background-color: #1C1C1C;
  border-radius: 20px;
  padding: 12px 20px;
}
.main_mob_list_item span {
  font-size: 25px;
  font-weight: 600;
  color: #fff;
  line-height: 42px;
}
.main_mob_list_item p {
  margin-top: 6px;
}
.main_desktop {
  display: none;
}
.main_preloader {
  display: none;
}
@media (min-width: 1200px) {
  .main {
    padding-top: 140px;
    position: relative;
    overflow: hidden;
  }
  .main_preloader {
    display: block;
    position: absolute;
    right: -250px;
    top: -150px;
    z-index: 2;
    width: 600px;
  }
  .main .slick-dots li {
    background-color: rgba(255, 255, 255, 0.2);
  }
  .main .slick-dots li.slick-active {
    background-color: #FF7F00;
  }
  .main_mob {
    display: none;
  }
  .main_desktop {
    display: block;
  }
  .main_desktop_mid {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .main_desktop_mid_text {
    width: 332px;
  }
  .main_desktop_mid_text h1 {
    font-size: 28px;
    line-height: 32px;
    color: #fff;
  }
  .main_desktop_mid_text h1 b {
    font-weight: 700;
  }
  .main_desktop_mid_text p {
    font-weight: 500;
    margin-top: 20px;
  }
  .main_desktop_mid_slider {
    width: 650px;
    background-color: #1C1C1C;
    border-radius: 30px;
    padding: 40px;
  }
  .main_desktop_mid_slider_item {
    max-width: 286px;
  }
  .main_desktop_mid_slider_item span {
    font-size: 51px;
    line-height: 86px;
    font-weight: 700;
    color: #fff;
  }
  .main_desktop_mid_slider_item p {
    margin-top: 6px;
    font-size: 24px;
    line-height: 36px;
  }
  .main_desktop_mid_slider_item a {
    font-size: 12px;
    line-height: 16px;
    color: rgba(255, 255, 255, 0.2);
    font-weight: 500;
    margin-top: 40px;
    display: inline-block;
  }
  .main_desktop_down {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin-top: 40px;
  }
  .main_desktop_down a {
    width: 240px;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    background-color: #1C1C1C;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    border-radius: 20px;
  }
  .main_desktop_down a svg {
    opacity: 0;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .main_desktop_down a span {
    font-size: 16px;
    line-height: 20px;
    color: #fff;
    font-weight: 600;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    -webkit-transform: translateX(-20px);
            transform: translateX(-20px);
  }
  .main_desktop_down a:hover {
    background-color: #FF7F00;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
    width: 270px;
  }
  .main_desktop_down a:hover svg {
    opacity: 1;
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .main_desktop_down a:hover span {
    -webkit-transform: translateX(10px);
            transform: translateX(10px);
    -webkit-transition: all 0.2s linear;
    transition: all 0.2s linear;
  }
  .main_desktop_down_list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: stretch;
        -ms-flex-align: stretch;
            align-items: stretch;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 650px;
    position: relative;
  }
  .main_desktop_down_list_item {
    background-color: #1C1C1C;
    width: calc(33.3333333333% - 13.3333333333px);
    border-radius: 20px;
    padding: 12px 20px;
  }
  .main_desktop_down_list_item span {
    font-size: 25px;
    font-weight: 600;
    color: #fff;
    line-height: 42px;
  }
  .main_desktop_down_list_item p {
    margin-top: 6px;
  }
}
@media (min-width: 1400px) {
  .main_preloader {
    right: -200px;
    top: -200px;
    width: 650px;
  }
}
@media (min-width: 1600px) {
  .main_preloader {
    right: -150px;
    top: -250px;
    width: 700px;
  }
}
@media (min-width: 1920px) {
  .main_preloader {
    right: -100px;
    top: -350px;
    width: 800px;
  }
}

.partners {
  padding: 58px 0px 100px 0px;
  overflow: hidden;
}
.partners_title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.partners_title h2 {
  font-size: 18px;
  line-height: 24px;
  color: rgba(255, 255, 255, 0.5);
  font-weight: 500;
}
.partners_title p {
  text-align: center;
  margin-top: 40px;
}
.partners_slider {
  margin-top: 40px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-overflow-style: none; /* IE and Edge */
  scrollbar-width: none; /* Firefox */
}
.partners_slider::-webkit-scrollbar {
  display: none;
}
.partners_slider_item {
  margin: 0px 10px;
}